@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");

html {
  background-color: #116979;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: #116979;
}

.welcome {
  text-align: center;
  margin-top: 10%;
  padding: 0;
  color: white;
  font-family: "Baloo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.create-quiz {
  text-align: center;
  margin-left: 43%;
  margin-top: 5%;
}
.take-a-quiz {
  /*take quiz button on welcome page*/

  margin-left: 43.5%;
  margin-top: 3%;
}
.take-quiz {
  /*button for quizzes*/
  text-align: center;
  margin-left: 2%;
  margin-top: 5%;
}

.category {
  text-align: center;
  color: white;
  font-family: "Baloo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 15%;
}

.category-header {
  text-align: center;
  color: white;
  font-family: "Baloo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.radio-button {
  text-align: center;
  margin-left: 46%;
}

.radio-label {
  color: white;
  margin-left: 2%;
}

.center-button {
  text-align: center;
  margin-left: auto;
  margin-top: 2%;
  box-sizing: border-box;
}
/*Quiz maker*/
.quizQuestions {
  text-align: center;
  color: white;
  font-size: 20px;
}
.input {
  width: 50% !important;
  justify-content: center;
  margin-left: 25%;
}
.questions {
  width: 40% !important;
  margin-left: 30%;
}
.answers {
  width: 30% !important;
  margin-left: 35%;
}

.multiple-choice {
  width: 40%;
  margin-top: 0;
  margin-left: 35%;
}

hr {
  background-color: white;
  height: 4px;
  width: 900px;
}
.Cards {
  color: #116979;
  width: 20%;
  height: 50%;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 12px;
  float: left;
}
.card-body {
  background-color: ghostwhite;
}

.result {
  margin-top: 20px;
}

.options {
  cursor: pointer;
  border: 2px solid black;
  padding: 10px;
}

.selected {
  background: #dbdbeb !important;
}

ul {
  list-style-type: none;
}
.MultipleChoice {
  background-color: white;
  color: black;
  height: 50px;
  width: 40%;
  border-radius: 5px 5px;
  margin-left: 30%;
}
.finishMultipleChoice {
  background-color: white;
  color: black;
  height: 50px;
  width: 40%;
  border-radius: 5px 5px;
  margin: 2%;
  margin-left: 30%;
}

.NextButton {
  border-radius: 15px;
  background-color: #116979;
  width: 200px;
  height: 100px;
}

.center {
  margin-left: auto;
}

.text-center {
  text-align: center;
}
