@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");

html {
  background-color: #116979;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: #116979;
}

.welcome {
  text-align: center;
  margin-top: 15%;
  padding: 0;
  color: white;
  font-family: "Baloo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.create-quiz {
  text-align: center;
  margin-left: 43%;
  margin-top: 5%;
}
